.pagination {
  text-align: center;
  padding: $spacer 0;
}

.pagination * {
  display: inline-block;
  padding: 0 $spacer/2;
  border-bottom: 2px solid transparent;
}

.pagination .numbers {
  padding: 0;
  display: none;
}
.pagination .start-ellipsis,
.pagination .end-ellipsis {
    padding: 0;
    display: none;
}
.pagination .start-ellipsis::before,
.pagination .end-ellipsis::before {
    content: '\2026';
}

@media (min-width: $breakpoint-lg) {
  .pagination .numbers,
  .pagination .start-ellipsis,
  .pagination .end-ellipsis {
    display: inline-block;
  }
}

/*@include media-query-min($breakpoint-lg) {
  .pagination .numbers,
  .pagination .start-ellipsis,
  .pagination .end-ellipsis {
    display: inline-block;
  }
}*/

.pagination em {
  font-style: normal;
  background-color: $color-primary-link;
  color: $background-color;
  border-radius: $border-radius;
}

.pagination a {
  background-color: $background-color;
  color: $color-primary-link;
  border-radius: $border-radius;
}
.pagination a:hover {
  color: lighten($color-primary-link, 15%);
}